extends ./head
block content
    h MENU 

    li    
        a(href="subjects/listCourses") List of Courses 
    li    
        a(href="teachers/listTeachers") List of Teachers
    li 
        a(href="students/listStudents") List of Students 