/********************************************* СПИСОК УЧИТЕЛЕЙ *********************************************/
.btn.nameGroup:hover {
    text-shadow: 0 0 0.7px rgb(0, 0, 0);
}
.btn.name:hover {
    text-shadow: 0 0 1px #000000;
}
.header {
    text-shadow: 0 0 0.7px #000000;
}
.table-responsive.listTeachers {
    max-height: 500px;
    max-width: 50%;
}
.col.text-center.teacher::after {
    display: block;
    content: '';
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;    
    transform: scaleX(0);
    border-bottom: 1px solid black;
    transition: transform 250ms ease-in-out;
}
.col.text-center.teacher:hover::after {
    transform: scaleX(1);
}
